{% extends "base.html" %}
{% block title %}Register a transaction{% endblock %}

{% block content %}
  <section>
    {% if submitted %}
      <h1>Thanks!</h1>
    {% else %}
      <form action="{{ url_for('transact') }}" method="POST">
        {% if fuckcoinId %}
          <input type="hidden" name ="fuckcoinId" value="{{ fuckcoinId }}">
          <h1>Coin #{{ fuckcoinId }}</h1>
        {% else %}
          <label for="fuckcoinId">Fuckcoin ID</label>
          <input type="number"
                name="fuckcoinId"
                id="fuckcoinId"
          />
        {% endif %}
        <label for="giver">Who's giving it?</label>
        <input type="text" name="giver" id="giver" />

        <label for="recipient">Who's getting it?</label>
        <input type="text" name="recipient" id="recipient" />

        <label for="purpose">What's being exchanged?</label>
        <textarea id="purpose" name="purpose"></textarea>

        <button type="submit" style="margin-top: 8px; width: 100%">
          Submit
        </button>
      </form>
    {% endif %}
  </section>

  <section>
    {% if transactions %}
      {% include "transaction_list.html" %}
    {% else %}
      <h3>
        This fuckcoin is brand-new!  Tell us where it's going.
      </h3>
    {% endif %}
  </section>
{% endblock content%}

